[run]
source = 
    shed
branch = True
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    *conftest.py
    */tests/utils.py

exclude_lines =
    if __name__ == '__main__':
